/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------------------------------*/

// Font
$sans-bold: "SourceHanSansJP-Bold";
$sans-regular: "SourceHanSansJP-Regular";
@font-face{ // Bold.
	font-family: $sans-bold;
	src: url("../data/SourceHanSansJP/SourceHanSansJP-Bold.otf");
}
@font-face{// Regular.
	font-family: $sans-regular;
	src: url("../data/SourceHanSansJP/SourceHanSansJP-Regular.otf");
}

// Color
$pantone-blue-bell: #92B5D9;
$pantone-white-c: #FFFFFF;

// .Page
$page-border-size: 5px;
$page-letter-spacing: 2px;
$page-padding: 20px;

@mixin page-border($padding-top-bottom, $padding-left-right){
	margin: 0px;
	border: $page-border-size solid $pantone-blue-bell;
	border-bottom: hidden;
	padding: $padding-top-bottom $padding-left-right;
}

body{
	background-color: $pantone-blue-bell;
}

.btn{
	border: none;
	background-color: $pantone-white-c;
	font-size: 36px;
	letter-spacing: $page-letter-spacing;
	font-family: $sans-bold;
}

.page{
	font-family: $sans-bold;
	letter-spacing: $page-letter-spacing;
	font-size: 28px;
	color: $pantone-white-c;
}

.page-header{ // 初期化.
	margin: 0px;
	padding: 0px;
	.logo{
		@include page-border($page-padding, $page-padding);
		border-bottom: $page-border-size solid $pantone-blue-bell;
	}
}

.page-content{
	margin: 0px;
	padding: 0px;
}

// Google maps
.google-map{
	padding: 0px $page-padding;
	#map{
		height: 250px;
	}
}

// Content Label.
$content-label-size: 20px;

.current-time{
	@include page-border(0px, $page-padding);
	padding-top: $page-padding;
	p{
		margin-bottom: 10px;
	}
	.current-time__label{
		font-size: $content-label-size;
	}
	#current-time__time{
		font-size: 28px;
		margin-bottom: 0px;
	}
}

.current-position{
	@include page-border($page-padding, $page-padding);
	p{
		margin-bottom: 10px;
	}
	.current-position__label{
		font-size: $content-label-size;
	}
}

.begin-btn{
	@include page-border(0px, $page-padding);
	border-bottom: $page-border-size solid $pantone-blue-bell;
	.begin-btn__btn{
		width: 100%;
		padding: 60px 60px;
		font-size: 36px;
		color: $pantone-blue-bell;
	}
}
