// GPS LOGGGGER v1.1
// 位置情報を記録しよう
// https://github.com/code-of-design/gps-logggger-html5

// Font-size
$font-heading: 24px;
$font-title: 20px;
$font-subheading: 16px;
$font-body: 18px;
$font-caption: 12px;
$font-button: 14px;

// Font-family
$sans-bold: "SourceHanSansJP-Bold";
$sans-regular: "SourceHanSansJP-Regular";
@font-face{ // Bold.
	font-family: $sans-bold;
	src: url("../data/SourceHanSansJP/SourceHanSansJP-Bold.otf");
}
@font-face{// Regular.
	font-family: $sans-regular;
	src: url("../data/SourceHanSansJP/SourceHanSansJP-Regular.otf");
}

// Color
$pantone-blue-bell: #92B5D9;
$pantone-white-c: #FFFFFF;
$pantone-black-c: #2D2926;

body{
	margin: 0px;
	padding: 0px;
}

// Page
$page-padding: 25px;
$page-letter-space: 2px;

.page{
	font-family: $sans-bold;
	font-size: $font-body;
	letter-spacing: $page-letter-space;
	color: $pantone-blue-bell;
	padding: $page-padding;
}

// Page Header
.page-header{

}

// Page Content
.page-content{

}

// Page Footer
.page-footer{

}

.google-map{
	width: 100%;
	height: 200px;
}
